
  .iframe-wrapper {
    position: relative;
    padding-top: 56.25%
  }

  .iframe
  {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .iframe-container {
    max-width: 0;

  }
